/* Project card styling */
.project-card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer; /* Makes the card clickable */
}

    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(255, 0, 255, 0.3); /* Magenta glow effect */
    }

.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card img,
.project-header {
    object-fit: cover; /* Default */
    object-position: center; /* Default */
    width: 100%;
    height: 150px;
}


.project-details {
    padding: 15px;
}

    .project-details h3 {
        color: #00ff88;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .project-details p {
        font-size: 0.9rem;
        margin: 10px 0;
    }

/* Style tools list to match previous skills-list */
.tools-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

    .tools-list li {
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.8rem;
    }

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 10px 0;
}

    .skills-list li {
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.8rem;
    }
