/* Full-width header styling for the projects page */
.projects-header {
    width: 100%;
    height: 150px; /* Set height as desired */
    background-image: url('/images/yunitech_site_header.png'); /* Set your background image */
    background-size: cover; /* Ensures the image covers the entire header area */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end; /* Spaces out content evenly */
    align-items: center; /* Centers items vertically */
    color: #ffffff;
}

.projects-page .page-header::before {
    filter: brightness(0.5); /* Increase brightness for About page */
}


/* Projects Portfolio Section */
.portfolio-section {
    background-color: transparent;
    box-shadow: none; /* Green glow effect */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .portfolio-section {
        grid-template-columns: 1fr;
    }
}

.projects-instruction {
    text-align: center;
    font-size: 1rem;
    color: #00ff88; /* Matches the neon green theme */
    margin: 0px auto;
    padding: 0px 0;
    max-width: 800px;
}

.projects-delimeter {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

